body{
    font-family: "Montserrat", sans-serif;
}

.navbar {
    position: fixed; 
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5); 
    z-index: 1000;
    width: 95%;

    margin-left:  2.5%;
    margin-right: 2.5%;
    margin-top: 1%;
    padding: 20px 30px;

    border-radius: 100px;
    
}

.navbar-brand img{
    width: 200px;
}
.navbar li{
    margin-left: 51px;
    font-weight: 700;
}

#registrasi a{
    background-color: #FFC73C;
    border-radius: 100px;
    padding: 10px 20px;
    font-weight: bold

}
#registrasi a:hover{
    background-color: #FF9A3C;
}

@media screen and (max-width: 768px) {
    .navbar-brand img{
        width: 160px;
    }
    .navbar{
        padding:0;
        margin: 0 4%;
        margin-top: 5%;
        
        
        padding-left: 10%;
        padding-right: 10%;
        border-radius: 32px;
    }
}

.hero {
    position: relative;
    background-image: url('path-to-your-image.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* color: white; */
}
.hero-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 20%;
    left: 5%;
}
.hero h1 {
    font-size: 4rem;
}
.hero .btn {
    margin-top: 30px;
    font-size: 1.25rem;
    border-radius: 100px;
    font-weight: bold;
    padding: 10px 30px;
}

.berita-title{
    margin-top: 7%;
    margin-bottom: 2%;
}

.berita-title h2{
    font-size:48px;
    font-weight: 700;
    text-align: center;
    color: #F79820;
}

.logo-berita img {
    max-width: 240px;
    height: auto;
}

.about-section .container-fluid{
    padding-top: 10%;
    padding-bottom: 10%;
    color: #FFFFFF;
}

.about-content h2{
    font-size: 32px;
   
}

.about-section strong{
    color: #FFE03C;
    font-weight: bold;
}

.about-content a{
    background-color: #FFC73C;
    border-radius: 100px;
    padding: 10px 20px;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 2%;
}

.about-content > p{
    font-size: 16px;
}

.main-card {
    position: relative;
}

.main-image {
    border-radius: 8px;
}

.card-img-overlay {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
    border-radius: 8px;
}

.card-title {
    font-size: 1.5rem;
}

.card-text {
    font-size: 0.9rem;
}

.list-group-item {
    background-color: transparent;
    border: none;
}

.list-group-item img {
    width: 60px;
    height: auto;
    border-radius: 8px;
}

.berita-section{
    margin-bottom: 10%;
}

.btn-primary {
    background-color: #00c8ff;
    border: none;
    font-size: 1rem;
}

.btn-primary:hover {
    background-color: #009ec3;
}

.site-footer {
    background-color: #00D1FF;
    color: white;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    width: 100%;
}

.footer-logo {
    text-align: left;
    margin-bottom: 30px;
}

.footer-logo img {
    max-width: 286px;
}

.footer-content{
    display:  grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
    background-color: #0d697d;
    width: 100%;
    font-family: Arial, sans-serif;
}

.footer-social {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.footer-social {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.footer-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-content p {
    font-size: 14px;
}

.footer-social a {
    display: inline-block;
    margin: 0 10px;
    color: white;
    font-size: 20px;
}

.test p{
  
    margin-bottom: 0;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #035397;
    padding-top: 10px;
}

.footer-content span {
    font-style: italic;
}

.social-icon {
    text-decoration: none;
}

.fab {
    vertical-align: middle;
}
